{% extends "layout/basic.html" %}
{% block content %}
<div class="jumbotron">
  <h1>
    Reset Password
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if message %}
      <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{{ form }}

{% if count(errors) > 0 %}
<ul>
  {% foreach errors as error %}
  <li>
    <p>{{ error.error }}</p>
  </li>
  {% endforeach %}
</ul>
{% endif %}
{% endblock %}